  .clickable:hover {
     background-color: #f0f0f0;
     transform: scale(1.05);
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     color: black;
 }

 .ceramista {
     color: #d1cece;
     font-size: 1.5rem;
     padding-bottom: 30px;
     font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
     font-weight: 200;
     letter-spacing: 0.5em;
     font-size: 2rem;
     text-align: center;
 }
 
#cart-icon {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

#cart-count {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  margin-left: 4px;
}

/* Dropdown carrito */
#cart-dropdown {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 600px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
}

#cart-dropdown.hidden {
  display: none;
}

#send-order.hidden {
  display: none;
}
#cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cart-items li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
 
#cart-items li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 2px 6px;
  cursor: pointer;
}

/* Modal */
#order-modal {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#order-modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
